DrinkingDetection/.vs/DrinkingDetection/v16/.suo
DrinkingDetection/.vs/DrinkingDetection/v16/Browse.VC.db
DrinkingDetection/.vs/DrinkingDetection/v16/Browse.VC.db-shm
DrinkingDetection/.vs/DrinkingDetection/v16/Browse.VC.db-wal
DrinkingDetection/.vs/DrinkingDetection/v16/Browse.VC.opendb
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/codedb.lck
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/DrinkingDetection.npa00
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/DrinkingDetection.npd
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/DrinkingDetection.rdb
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalFileTable.000
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalFileTable.001
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/nrf_log_backend_rtt.rdb
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/nrf_log_frontend.rdb
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/PreambleTimestamp.txt
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000001.npa00
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000002.npa00
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000002.npa00.tmp0
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000003.npa00
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000003.npd
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000003.rdb
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000004.npa00
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000004.npa01
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000005.npa00
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000006.npa00
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/tmp00000008.npa00
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/AutoPCH/169c.ast
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/AutoPCH/169c.psf
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/AutoPCH/89c.ast
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/AutoPCH/89c.psf
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalCache/000/DerivedRelations.dat
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalCache/000/Files.idx
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalCache/000/GlobalTrees.dat
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalCache/000/MacroRefs.dat
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalCache/000/Names.idx
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalCache/000/SymbolDefs.dat
DrinkingDetection/.visualgdb/CodeDB/DrinkingDetection-Debug-VisualGDB/GlobalCache/000/SymbolRefs.dat
BLE_UART/.visualgdb/
BLE_UART/.vs/

